@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&family=The+Nautigal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@700&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #091011;
}

#star {
  color: rgba(255, 255, 255, 0.7);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main hr {
  width: 1000px;
  height: 5px;
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  color: white;
}

.header {
  position: relative;
  border: 4px solid transparent;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  background-clip: padding-box;
  padding: 10px;
  /* just to show box-shadow still works fine */
  background-color: #091011;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #fd1892 50%,
    #fec837 75%,
    #b8fd33 100%
  );
  content: "";
  z-index: -1;
  border-radius: 50%;
}

.header h4 {
  color: rgba(245, 245, 245, 0.561);
}

#name {
  color: white;
}

.header h4 {
  font-size: 3rem;
  font-family: "The Nautigal", cursive;
}

.header h2 {
  font-family: "Caveat", cursive;
  /* color: rgba(255, 255, 255, 0.7); */
  font-size: 4rem;
  font-weight: bold;
  color: rgba(241, 238, 238, 0.616);
  padding: 0;
}

.header .explore-button {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 3px;
  border: 2px solid red;
  background: transparent;
  padding: 8px 20px;
  color: rgb(107, 49, 49);
  font-weight: bold;
  border-radius: 3px;
}

.header .explore-button:hover {
  color: red;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgba(255, 0, 0, 0.712);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
