<% layout('layouts/boilerplate')%>

    <!-- <hr /> -->
    <div class="header">
        <div id="heart"></div>
        <h4>Hi, my name is</h4>
        <h2 id="name">Ujwal Shirpurkar.</h2>
        <h2>I am a Web Artist</h2>
        <button id="explore-button">Explore</button>
    </div>